<html>
<link rel='stylesheet' type="text/css" href='playlister.css'></style>
<div class='t-colour'>
  <body class='bgpage'>
   <div class='bgbox center-box'>
     <p class='center-text' style='font-size:30px;'>About</p>
  </div>
     <div></br></div>
     <div class='bgbox center-box'>
     <p class='center-text'>Before going to a concert/gig I often create a playlist on spotify
        based on the band/act's most recent playlists.
        So I made a tool which does that exact thing.</p>
    </div>
    <div></br></div>
    <div class='bgbox center-box'>
    <ul>
    <li>Does it work? - It works for me.</li>
    <li>Is it fast? - No.</li>
    <li>Can I report a bug or suggest new features? - No.</li>
    </ul>
    </div>
    <div></br></div>
    <div class='bgbox center-box'>
    <p class='center-text'>Hit me on the tweet machine: <a href="https://twitter.com/finnci">@finnci</a>.
    <p class='center-text'>See the scary code that makes this run: <a href="https://github.com/finnci/spotlist">@finnci</a>.

    </p>
    </div>
    <div></br></div>
    <p class='center-text'><a href='/playlister'>Give it a go.</a></p>
  </body>
</div>
</html>
