<html>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel='stylesheet' type="text/css" href='playlister.css'></style>
<div class='t-colour'>
  <body class='bgpage'>
   <div class='bgbox center-box'>
     <p class='center-text' style='font-size:30px;'>Setlist -> Playlist</p>
  </div>
    <div></br></div>
    <div class='bgbox center-box'>
    <p class='center-text'>Create <a href="https://spotify.com" target='_blank'>Spotify</a> playlists out of setlists
    <p><button id='go_login' class='bgbutton text-tb center-text' style='margin-left:45%'>
      <a class="login-l" href='/login'>Login</a></button></p>
      </p>
    </div>
    <div></br></div>
    <div></br></div>
    <p class='center-text'><a href='/about'>About.</a></p>
  </body>
</div>
</html>
